:root {
    --fl-green: #1ABC9C;
    --fl-dark-blue: #2C3E50;
    --fl-black: #333333;
    --fl-white: #FFFFFF;
    --fl-light-blue: #3A546D;

}

/*#region debug*/
.debug .navbar {
    height: 90px;
}

.left_nav,
.right_nav {
    width: 200px;
    height: 80px;
    border: 1px solid rgb(255, 255, 255);
}

.debug .banner {
    height: 580px;
}

.row_portfolio {
    background-color: blue;
    height: 100px;
}

[class^="col-"] {
    border: 1px solid black;
    height: 200px;
}

/*#endregion debug*/

/*#region header*/
.navbar {
    background-color: var(--fl-dark-blue);
}

.banner {
    background-color: var(--fl-green);
}

/*#endregion header*/


@media screen {}