:root {
    --fl-green: #1ABC9C;
    --fl-dark-blue: #2C3E50;
    --fl-black: #333333;
    --fl-white: #FFFFFF;
    --fl-light-blue: #3A546D;

}

/*#region debug*/
/* .debug #site_header {
    height: 100px;
    background-color: violet;
} */

/* .debug .banner {
    height: 200px;
} */

.debug .portfolio {
    background-color: blue;
    height: 100px;
}

/* .debug [class^="col"] {
    background-color: violet;
    height: 100px;
} */

/*#endregion debug*/

/*#region common*/
.banner,
.section_about {
    background-color: var(--fl-green);
}


/*#endregion common*/

/*#region utility*/
img {
    max-width: 100%;
}

.c_black {
    color: var(--fl-black);
}

.c_dark_blue {
    color: var(--fl-dark-blue);
}

.fl_dark_blue {
    background-color: var(--fl-dark-blue);
}

.fl_green {
    background-color: var(--fl-green);
}

/*#endregion utility*/

/*#region header*/
.navbar {
    background-color: var(--fl-dark-blue);
}

.nav-link {
    color: var(--fl-white);
    font-weight: bold;
}

/*#endregion header*/

/*#region banner*/
.star_bar {
    height: 3px;
}

.avatar {
    width: 15rem;
}

/*#endregion banner*/

/*#region footer*/
.up_footer {
    background-color: var(--fl-light-blue);
}

.bottom_footer {
    background-color: var(--fl-dark-blue);
}

/*#endregion footer*/